/* Estilo geral do body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

#task-container {
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Tabela com scroll horizontal em dispositivos pequenos */
#taskTableWrapper {
    width: 100%;  /* Garante que o contêiner ocupe 100% da largura */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Suporte para scroll suave no mobile */
}

/* Tabela */
#taskTable {
    min-width: 600px;  /* Garante que a tabela tenha uma largura mínima */
    width: 100%;  /* Tabela ocupará 100% da largura do contêiner */
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 14px;
}

/* Estilo das células */
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    word-wrap: break-word;  /* Impede que o conteúdo das células ultrapasse */
}

th {
    background-color: #f0f0f0;
}

/* Responsividade para fontes e espaçamento */
@media (max-width: 768px) {
    th, td {
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    th, td {
        font-size: 10px;
        padding: 6px;
    }

    h1, h2 {
        font-size: 16px;
    }
}

/* Formulário de inclusão */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
    max-width: 700px;
}

.form-fields input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-container button {
    margin-top: 20px; /* Adiciona espaço entre os campos e o botão */
    padding: 10px;
    width: 100%;
    max-width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #444;
}

/* Popup de edição */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    padding: 20px;
}

.popup-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-content button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #444;
}
